:root {
  --green: #00b398;
  --yellow: #f0e87b;
}

@font-face {
  font-family: 'FSKim';
  src: url('@/assets/fonts/FSKim-Regular.otf');
}

@font-face {
  font-family: 'FSKim Bold';
  src: url('@/assets/fonts/FSKim-Bold.ttf');
}

@font-face {
  font-family: 'Benton Sans';
  src: url('@/assets/fonts/Benton Sans Regular.otf');
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: 'Benton Sans', 'sans-serif';
}

.app-container {
  min-height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
